html
    head
        title Project 8 Express View
        link(rel='stylesheet' type='text/css' href='/assets/main.css')
    body
        h1
            a(href='/') User Registration Form

        block content

        footer This is node express pug app for MTECH class
